$text-font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$lekton-font: 'Lekton', 'Courier New', sans-serif;
$grey-line-thickness: 50px; 
$highlight-yellow: #F8E71C;
$text-color: #616161;

html{
	font-size: 14px;
}

body{
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	margin: 0!important;
	padding: 0!important;
	color: $text-color;
	box-sizing: border-box;
	/*background: blue;*/
}

h1, h2, h3, h4, p, ul, li{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}


#preloader, .home-page-container{
	height: 100vh;
	width: 100%;
	background-color: transparent; 
	position: absolute;
}

#preloader{
	z-index: 10;
	visibility: hidden; 
}

.home-page-container{
	background: white;
	position: absolute;
}


#canvas-container{
	background: #FFFFFF;
}

.particles-js-canvas-el{
	height: 100vh!important;
}

canvas {
  opacity: 0.6;
}

.grey-line { 
	background: #F1F1F1; 
	position: absolute;
	z-index: 1;
}

.grey-line.top, .grey-line.bottom{
	height: $grey-line-thickness;
	width: 100%;
}

.grey-line.right, .grey-line.left{
	width: $grey-line-thickness;
	height: 100%;
}

.top {  top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }

.page-content{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
}

.portfolio-title-container{
	max-width: 350px;
	/*background: blue;*/
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title{
	text-align: center;
	color: $text-color;
}

.title{
	h3{
		font-family: 'Playfair Display', serif;
		font-style: italic;
		font-size: 1em;
		font-weight: 300;
	}
	
	h1{
		text-transform: uppercase; 
		font-size: 3em;
		border-top: 1px solid $text-color;
		border-bottom: 1px solid $text-color;
		padding: 20px 5px;
		margin: 5px;
		font-weight: 600;
		letter-spacing: .1em;
	}
	h1 span{
		font-weight: 800;
	}
}

.subheading{
	h2{
		font-family: $lekton-font;
		font-size: 1.3em;
		line-height: 1.6em;
		color: $text-color;
		font-weight: 400;
		padding: 10px;
		position: relative;
	}
	h2 span{
		width: auto;
		display: inline-block;
		position: relative;
	}

	h2 span::before{
		content: '';
		position: absolute;
		height: 3px;
		width: 100%;
		bottom: 12%;
		left: -100%;
		z-index: -1;
		background: $highlight-yellow;
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
}

.particles-container{
	position: absolute;
	width: 100%;
	height: 100vh;
}

.side-button{
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	/*background: blue;*/
}

.work-button-container{
	right: 0;
	/*transform: rotate(90deg);*/
}

.about-button-container{
	left: 0;
	/*transform: rotate(-90deg);*/
}

.side-button{
	h1{
		font-size: 1.2em;
		padding: 0;
		margin: 0;
		font-weight: 800;
		letter-spacing: .1em;
		transition: letter-spacing 0.5s; 
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		cursor: pointer;
	}

	h1::before{
		content: '';
		position: absolute;
		height: 50%;
		width: 100%;
		bottom: 0;
		left: -100%;
		opacity: .7;
		z-index: -1;
		background: $highlight-yellow;
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}

	h1:hover{
		font-size: 2em;
		letter-spacing: .3em;
	}

	h1::before:hover{
		width: 200%;
	}
}

.close-title-container.about{
	right: 0;
	top: 0;
	left: auto;
}

.close-title-container.about .work-title-container h1{
	color: white;
}

#about-me{
	font-family: $text-font-stack!important;
	color: $text-color!important;
	overflow: hidden;
}

.about-background-container{
	position: relative;
	/*overflow: hidden;*/
}

.about-background{
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100vh;
}

.about-background .trap{
	width: 35%;
	height: 300%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 75%;
	-webkit-transform: skew(35deg);
	   -moz-transform: skew(35deg);
	     -o-transform: skew(35deg);
	background: #F8E71C;
	opacity: 0.64;
}

.about-background .grey-trap{
	width: 35%;
	height: 300%;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 10%;
	-webkit-transform: skew(-35deg);
	   -moz-transform: skew(-35deg);
	     -o-transform: skew(-35deg);
	background: #F5F5F5;
	opacity: 0.64;
}

#about-me{
	.about-text-container, .other-skills{
		/*padding: 5em;*/
	}
	.about-me-container{
		margin-top: 30%;
		z-index: 5;
		position: relative;
	}

	.about-group{
		padding: 20px 0;
	}
	h1{
		font-family: "Playfair Display", Garmond, serif;
		font-style: italic;
		font-size: 6em;
		color: $text-color;
		/*color: $highlight-yellow;
		background: black;*/
	}

	h2{
		color: $text-color;
		font-weight: 500;
		font-size: 2em;
	}

	p{
		font-size: 1.3em;
		color: $text-color;
		font-weight: 400;
	}

	.learnt-item{
		border-left: 2px solid $text-color;
		padding: 0px 0px 0px 1em;
		margin: 3em 0;
	}

	.learnt-item h3{
		font-weight: 500;
		padding: 0;
		font-size: 1.6em;
		color: $text-color;
		margin: 0;
	}

	.learnt-item p{
		margin: 0;
		margin-top: 10px;
	}
}




