/* FONTS */ 
$text-font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$lekton-font: 'Lekton', 'Courier New', sans-serif;

/* COLORS */ 
$text-color: #616161;
$sort-bg: #EEEEEE;
$project-bg: #F8F8F8;
$highlight-yellow: #F8E71C;

/* WIDTHS */ 
$sort-width: 230px;  
$project-list-width: 130px;
$project-content-offset: #{ $project-list-width + $sort-width }; 
$project-content-width: #{100% - $project-content-offset}; 


html{
	font-size: 14px;
}

body{
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	margin: 0!important;
	padding: 0!important;
	color: $text-color;
	box-sizing: border-box;
}

h1, h2, h3, h4, p, ul, li{
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


#sort-options, #project-list{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 10px;
	box-sizing: border-box;
}

#layout{
	width: 100vh;
	height: 100vh;
}

#sort-options{
	position: fixed;
	height: 100%;
	width: $sort-width;
	background: $sort-bg;
	display: inline-block;
	padding-left: 1.8rem;
}

#sort-options{
	.sort-groups{
		position: absolute;
		top: 50%;
		transform: translateY(-45%);
	}

	.sort-group{
		padding: 8px 0 8px 0;
	}

	h1 {
		text-transform: uppercase;
		font-size: 1.15rem;
		letter-spacing: .2rem;
		font-weight: 900;
	}
	ul{
		list-style-type: none;
		color: $text-color;
		margin: 0;
		padding: 0 0 0 10px;
	}

	li{
		font-family: $lekton-font;
		letter-spacing: .02rem;
		font-weight: 200;
		padding: 9px;
		cursor: pointer;
	}

	li:before{
		position: relative;
		top: -3px;
		right: 8px;
		content: url("../img/bullet-line.png");
	}

/*	li:hover{
		background: $highlight-yellow;
	}*/


	a li.active{
		/*background: $highlight-yellow;*/
		text-decoration: underline;
		font-weight: 300;
	}


	#all-projects{
		position: relative;
		cursor: pointer;
	}

	a.filter-proj li{
		transition: color 0.5s;
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
		position: relative;
	}

	a.filter-proj li span{
		width: auto;
		display: inline-block;
		position: relative;
	}

	a.filter-proj span::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 40%;
		opacity: 0.5;
		transform: scale3d(0,1,1);
		transform-origin: 0% 50%;
		color: $highlight-yellow;
		background: $highlight-yellow;
		transition: transform 0.5s;
		transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	}

	#all-projects span::before{
		transform: scale3d(1,1,1);
	}

	a.filter-proj li.active span::before,
	#all-projects:hover span::before {
		transform: scale3d(1,1,1);
	}

	#all-projects:hover{
		color: blue;
	}

	a.filter-proj:hover li,
	a.filter-proj:focus li{
		color: $project-bg;
	}

	a.filter-proj:hover li span::before,
	a.filter-proj:focus li span::before,
	{
		transform: scale3d(1,1,1);
		top: -20%;
		left: -4%;
		height: 140%;
		width: 110%;
		background: $text-color;
		opacity: 0.9;
	}

	a.filter-proj.selected li{
		color: $text-color;
	}

	.filter-proj.selected li span{
		color: $text-color;
	}
	a.filter-proj.selected li span::before
	{
		transform: scale3d(1,1,1);
		top: -20%;
		left: -4%;
		height: 140%;
		width: 110%;
		background: white;
		border: 1px solid $highlight-yellow;
		opacity: 0.9;
	}

	/*a.filter-proj li:hover{
		background: blue;
	}*/
}

#project-timeline{
	position: fixed;
	top: 0;
	width: 3px;
	height: 9%;
	background: $highlight-yellow;
	left: $sort-width;
}

#project-list{
	position: fixed;
	height: 100%;
	width: $project-list-width;
	margin-left: $sort-width;
	background: $project-bg;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/*#pc_iot_piggybank{
	background-color: pink;
}

#pc_smart_lock{
	background-color: yellow;
}


*/
#project-list{
	.project-timeline-item{
		padding: 5px;
	}

	a{
		color: $text-color;
		text-decoration: none;
		overflow: hidden;
		position: relative;
	}

	.project-timeline-name{
		overflow: hidden;
	}
	.project-timeline-name span {
		display: block;
		position: relative;
	}

	a:hover span::before{
		width: 100%;
	}

	/*.project-timeline-name span::before{
		content: attr(data-letters);
		position: absolute;
		color: black;
		left: 0;
		overflow: hidden;
		width: 0%;
		-webkit-transition: width 0.5s;
		transition: width 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}*/

	a::after{
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: $highlight-yellow;
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}

	a:hover::after {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.project-index{
		font-family: $text-font-stack;
		font-size: 1em;
		padding-bottom: 3px;
		font-weight: 400;
	}

	.project-timeline-name{
		font-family: $lekton-font;
		font-size: .8rem;
		line-height: 1rem;
	}

	#all-projects{
		cursor: pointer;
	}
}

#project-content, #project-uncover{
	/*position: fixed;*/
	position: absolute;
	margin-left: $project-content-offset;
	height: 100vh;
	/*background: yellow;*/
	width: calc(100% - 130px - 230px);
}

#project-uncover{
	display: none;
}

#project-uncover{
	.uncover_slice{
		background: $highlight-yellow!important;
	}
}

#project-content{

	.project-content-container{
		height: auto;
		padding: 0 2em;
		box-sizing: border-box;
		/*overflow: hidden;*/
		/*background: pink;*/
	}

	.project-content-item{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		/*border: 1px solid black;*/
	}

	.project-image-container{
		position: absolute;
		max-width: 240px;
		width: 250px;
		height: 300px;
		top: 20%;
    	right: 10%;
	}

	.project-image-container .project-image{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
	}

	.project-content-item.active{
		opacity: 1;
	}

	.project-content-item{
		
		.project-content-item-container{
			/*background: yellow;*/
			width: 80%;
			max-width: 600px;
			z-index: 10;
		}

		.type-of-project{
			font-family: $lekton-font;
			text-transform: uppercase; 
		}

		.project-title h1{
			font-family: $lekton-font;
			font-weight: 400;
			font-size: 3rem;
			text-align: center; 
			overflow: hidden;
		}

		.project-title h1.title span{
			display: inline-block;
		}

		.role{
			text-align: center;
		}

		.role .role-text{
			font-family: $lekton-font;
			text-transform: uppercase; 
			margin-right: 10px;
			overflow: hidden;
		}

		.subheading{
			padding-top: 2em;
			font-size: 1rem;
			line-height: 2.3rem;
			overflow: hidden;
			max-width: 80%;
    		margin: 0 auto;
		}

	}
}

.uncover_slices{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
} 

.uncover_slices-vertical{
	flex-direction: row;
}

.uncover_slice {
	color: #fff;
	background-color: #fff;
	flex: 1;
}

.uncover_slices-vertical .uncover_slice{
	box-shadow: 1px 0 0 #fff;
}


