/* FONTS */
/* COLORS */
/* WIDTHS */
html {
  font-size: 14px; }

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  color: #616161;
  box-sizing: border-box; }

h1, h2, h3, h4, p, ul, li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#sort-options, #project-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box; }

#layout {
  width: 100vh;
  height: 100vh; }

#sort-options {
  position: fixed;
  height: 100%;
  width: 230px;
  background: #EEEEEE;
  display: inline-block;
  padding-left: 1.8rem; }

#sort-options {
  /*	li:hover{
		background: $highlight-yellow;
	}*/
  /*	.filter-proj.selected li span{
		color: $text-color;
	}*/
  /*a.filter-proj li:hover{
		background: blue;
	}*/ }
  #sort-options .sort-groups {
    position: absolute;
    top: 50%;
    transform: translateY(-45%); }
  #sort-options .sort-group {
    padding: 8px 0 8px 0; }
  #sort-options h1 {
    text-transform: uppercase;
    font-size: 1.15rem;
    letter-spacing: .2rem;
    font-weight: 900; }
  #sort-options h2 {
    font-family: 'Playfair Display', 'Garamond', serif;
    font-style: italic;
    font-size: .9em;
    letter-spacing: .02em;
    font-weight: 300; }
  #sort-options ul {
    list-style-type: none;
    color: #616161;
    margin: 0;
    padding: 0 0 0 10px; }
  #sort-options li {
    font-family: "Lekton", "Courier New", sans-serif;
    letter-spacing: .02rem;
    font-weight: 200;
    padding: 9px;
    cursor: pointer; }
  #sort-options li:before {
    position: relative;
    top: -3px;
    right: 8px;
    content: url("../img/bullet-line.png"); }
  #sort-options a li.active {
    /*background: $highlight-yellow;*/
    text-decoration: underline;
    font-weight: 300; }
  #sort-options #all-projects {
    position: relative;
    cursor: pointer; }
  #sort-options a.filter-proj li {
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    position: relative; }
  #sort-options a.filter-proj li span {
    width: auto;
    display: inline-block;
    position: relative; }
  #sort-options a.filter-proj span::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 40%;
    opacity: 0.5;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    color: #F8E71C;
    background: #F8E71C;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  #sort-options #all-projects span::before {
    transform: scale3d(1, 1, 1); }
  #sort-options a.filter-proj li.active span::before,
  #sort-options #all-projects:hover span::before {
    transform: scale3d(1, 1, 1); }
  #sort-options #all-projects:hover {
    color: blue; }
  #sort-options a.filter-proj.selected li span::before {
    transform: scale3d(1, 1, 1);
    top: 90%;
    /*left: -4%;*/
    height: 20%;
    width: 100%;
    background: #616161;
    border-top: 1px solid #616161;
    /*border: 1px solid $highlight-yellow;*/
    /*background: white;
		border: 1px solid $highlight-yellow;*/
    opacity: 0.7; }
  #sort-options a.filter-proj:hover li,
  #sort-options a.filter-proj:focus li {
    color: #F8F8F8; }
  #sort-options a.filter-proj:hover li span::before,
  #sort-options a.filter-proj:focus li span::before {
    transform: scale3d(1, 1, 1);
    top: -20%;
    left: -4%;
    height: 140%;
    width: 110%;
    background: #616161;
    opacity: 0.7; }
  #sort-options a.filter-proj.selected li {
    color: #616161; }

#project-timeline {
  position: fixed;
  top: 0;
  width: 3px;
  height: 9%;
  background: #F8E71C;
  left: 230px; }

#project-list {
  position: fixed;
  height: 100%;
  width: 130px;
  margin-left: 230px;
  background: #F8F8F8;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

/*#pc_iot_piggybank{
	background-color: pink;
}

#pc_smart_lock{
	background-color: yellow;
}


*/
#project-list {
  /*.project-timeline-name span::before{
		content: attr(data-letters);
		position: absolute;
		color: black;
		left: 0;
		overflow: hidden;
		width: 0%;
		-webkit-transition: width 0.5s;
		transition: width 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}*/ }
  #project-list .project-timeline-item {
    padding: 5px; }
  #project-list a {
    color: #616161;
    text-decoration: none;
    overflow: hidden;
    position: relative; }
  #project-list .project-timeline-name {
    overflow: hidden; }
  #project-list .project-timeline-name span {
    display: block;
    position: relative; }
  #project-list a:hover span::before {
    width: 100%; }
  #project-list a::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #F8E71C;
    -webkit-transform: translate3d(101%, 0, 0);
    transform: translate3d(101%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  #project-list a:hover::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #project-list .project-index {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 3px;
    font-weight: 400; }
  #project-list .project-timeline-name {
    font-family: "Lekton", "Courier New", sans-serif;
    font-size: .8rem;
    line-height: 1rem; }
  #project-list #all-projects {
    cursor: pointer; }

#project-content, #project-uncover {
  /*position: fixed;*/
  position: absolute;
  margin-left: 360px;
  height: 100vh;
  /*background: yellow;*/
  width: calc(100% - 130px - 230px); }

#project-uncover {
  display: none; }

#project-uncover .uncover_slice {
  background: #F8E71C !important; }

#project-content .project-content-container {
  height: auto;
  padding: 0 2em;
  box-sizing: border-box;
  /*overflow: hidden;*/
  /*background: pink;*/ }

#project-content .project-content-item {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*border: 1px solid black;*/ }

#project-content .project-image-container {
  position: absolute;
  max-width: 240px;
  width: 250px;
  height: 300px;
  top: 20%;
  right: 10%; }

#project-content .project-image-container .project-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%; }

#project-content .project-content-item.active {
  opacity: 1; }

#project-content .project-content-item .project-content-item-container {
  /*background: yellow;*/
  width: 80%;
  max-width: 600px;
  z-index: 10; }

#project-content .project-content-item .type-of-project {
  font-family: "Lekton", "Courier New", sans-serif;
  text-transform: uppercase; }

#project-content .project-content-item .project-title h1 {
  font-family: "Lekton", "Courier New", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  /*overflow: hidden;*/ }

#project-content .project-content-item .project-title h1.title span {
  display: inline-block; }

#project-content .project-content-item .role {
  text-align: center; }

#project-content .project-content-item .role .role-text {
  font-family: "Lekton", "Courier New", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  overflow: hidden; }

#project-content .project-content-item .subheading {
  padding-top: 2em;
  font-size: 1rem;
  line-height: 2.3rem;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto; }

.uncover_slices {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex; }

.uncover_slices-vertical {
  flex-direction: row; }

.uncover_slices-horizontal {
  flex-direction: column; }

#preloader .uncover_slices .uncover_slice {
  background: yellow; }

.uncover_slice {
  color: #fff;
  background-color: #fff;
  flex: 1; }

.uncover_slices-vertical .uncover_slice {
  box-shadow: 1px 0 0 #fff; }

.close-title-container {
  height: 20px;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #F6F6F6;
  z-index: 9;
  display: table; }

.close-title-container a {
  display: table-cell;
  padding: 0 5px;
  vertical-align: middle; }

.close-title-container .close-container {
  width: 20px;
  height: 20px;
  /*background-color: white;
		background: url(../img/close-button.png);
		background-origin: 50% 50%;
		background-position: center;
		background-size: 60%;
		background-repeat: no-repeat;*/ }

.close-title-container .close-container svg {
  height: 80%; }

.close-title-container a:hover {
  background: #4A4A4A; }

.close-title-container a:hover .close-container svg g #cross {
  stroke: #F8E71C; }

.close-title-container .work-title-container {
  background-color: #4A4A4A;
  color: #F6F6F6;
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  /*padding: 5px 10px;*/ }

.close-title-container .work-title-container h1 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 0.9em !important;
  font-weight: 900; }

/****
  *
  *
  *  Case Studies Styles
  *
  *
  *
**/
.case-study .title-container {
  position: relative;
  margin-top: 10em; }

.case-study .title-container .col-3 {
  text-align: right; }
  .case-study .title-container .col-3 h2 {
    margin: 0;
    font-family: "Lekton", "Courier New", sans-serif; }

.case-study .title-container .col-7 {
  text-align: left;
  border-left: 1px solid black;
  padding-left: 2em; }

.case-study .title-container .col-7 h1 {
  font-family: "Playfair Display", "Garamond", serif;
  color: black;
  font-size: 5em;
  font-weight: 500; }

.case-study .title-container .col-7 p {
  font-family: "Playfair Display", "Garamond", serif;
  font-size: 1em;
  font-weight: 400;
  margin-top: -20px; }

.case-study .wc-details {
  background: #EEEEEE;
  min-height: 200px;
  width: 100%;
  position: relative;
  margin-top: 9em;
  margin-bottom: 5em; }
  .case-study .wc-details .image-container {
    position: absolute;
    top: -30%;
    right: 20%; }
  .case-study .wc-details .wc-detail {
    padding: 2.5em 3em; }
    .case-study .wc-details .wc-detail h3 {
      text-transform: uppercase;
      color: black;
      letter-spacing: .1em;
      margin: 0; }
    .case-study .wc-details .wc-detail p {
      color: #616161;
      font-family: "Playfair Display", "Garamond", serif;
      margin: 0; }
  .case-study .wc-details .wc-detail.role-container {
    padding-top: 5em; }
  .case-study .wc-details .wc-detail.skills-container {
    padding-bottom: 5em; }

.case-study .work-case-details {
  position: relative; }
  .case-study .work-case-details p {
    color: black;
    font-size: 1.3em; }
