body {
  width: 100%;
  height: 100%;
  background-color: black; }

#pinContainer {
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  -webkit-perspective: 1000;
  perspective: 1000; }

#slideContainer {
  width: 400%;
  /* to contain 4 panels, each with 100% of window width */
  height: 100vh;
  background: red; }

.panel {
  height: 100vh;
  width: 25%;
  /* relative to parent -> 25% of 400% = 100% of window width */
  float: left; }

.blue {
  background-color: blue; }

.turqoise {
  background-color: pink; }

.green {
  background-color: green; }

.bordeaux {
  background-color: brown; }
