/* FONTS */
/* COLORS */
/* WIDTHS */
html {
  font-size: 14px; }

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  color: #616161;
  box-sizing: border-box; }

h1, h2, h3, h4, p, ul, li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#sort-options, #project-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box; }

#layout {
  width: 100vh;
  height: 100vh; }

#sort-options {
  position: fixed;
  height: 100%;
  width: 230px;
  background: #EEEEEE;
  display: inline-block;
  padding-left: 1.8rem; }

#sort-options .sort-groups {
  position: absolute;
  top: 50%;
  transform: translateY(-45%); }

#sort-options .sort-group {
  padding: 8px 0 8px 0; }

#sort-options h1 {
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: .2rem;
  font-weight: 900; }

#sort-options ul {
  list-style-type: none;
  color: #616161;
  margin: 0;
  padding: 0 0 0 10px; }

#sort-options li {
  font-family: "Lekton", "Courier New", sans-serif;
  letter-spacing: .02rem;
  font-weight: 200;
  padding: 9px;
  cursor: pointer; }

#sort-options li:before {
  position: relative;
  top: -3px;
  right: 8px;
  content: url("../img/bullet-line.png"); }

#sort-options li:hover {
  background: #F8E71C; }

#sort-options a li.active {
  /*background: $highlight-yellow;*/
  text-decoration: underline;
  font-weight: 300; }

#project-timeline {
  position: fixed;
  top: 0;
  width: 3px;
  height: 9%;
  background: #F8E71C;
  left: 230px; }

#project-list {
  position: fixed;
  height: 100%;
  width: 130px;
  margin-left: 230px;
  background: #F8F8F8;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

/*#pc_iot_piggybank{
	background-color: pink;
}

#pc_smart_lock{
	background-color: yellow;
}


*/
#project-list .project-timeline-item {
  padding: 5px; }

#project-list a {
  color: #616161;
  text-decoration: none;
  overflow: hidden;
  position: relative; }

#project-list .project-timeline-name {
  overflow: hidden; }

#project-list .project-timeline-name span {
  display: block;
  position: relative; }

#project-list a:hover span::before {
  width: 100%; }

#project-list .project-timeline-name span::before {
  content: attr(data-letters);
  position: absolute;
  color: black;
  left: 0;
  overflow: hidden;
  /*white-space: nowrap;*/
  width: 0%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

#project-list a::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #F8E71C;
  -webkit-transform: translate3d(101%, 0, 0);
  transform: translate3d(101%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

#project-list a:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#project-list .project-index {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding-bottom: 3px;
  font-weight: 400; }

#project-list .project-timeline-name {
  font-family: "Lekton", "Courier New", sans-serif;
  font-size: .8rem;
  line-height: 1rem; }

#project-content {
  /*position: fixed;*/
  position: absolute;
  margin-left: 360px;
  height: 100vh;
  /*background: yellow;*/
  width: calc(100% - 130px - 230px); }

#project-content .project-content-container {
  height: auto;
  padding: 0 2em;
  box-sizing: border-box;
  /*overflow: hidden;*/
  /*background: pink;*/ }

#project-content .project-content-item {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*border: 1px solid black;*/ }

#project-content .project-image-container {
  position: absolute;
  max-width: 240px;
  top: 20%;
  right: 10%; }

#project-content .project-image-container img {
  width: 100%; }

#project-content .project-content-item.active {
  opacity: 1; }

#project-content .project-content-item .project-content-item-container {
  /*background: yellow;*/
  width: 80%;
  max-width: 600px;
  z-index: 10; }

#project-content .project-content-item .type-of-project {
  font-family: "Lekton", "Courier New", sans-serif;
  text-transform: uppercase; }

#project-content .project-content-item .project-title h1 {
  font-family: "Lekton", "Courier New", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  overflow: hidden; }

#project-content .project-content-item .project-title h1.title span {
  display: inline-block; }

#project-content .project-content-item .role {
  text-align: center; }

#project-content .project-content-item .role .role-text {
  font-family: "Lekton", "Courier New", sans-serif;
  text-transform: uppercase;
  margin-right: 10px;
  overflow: hidden; }

#project-content .project-content-item .subheading {
  padding-top: 2em;
  font-size: 1rem;
  line-height: 2.3rem;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto; }
